{% extends 'base.html' %}

{% block content %}
    

<h1 class="h4 text-center mb-3">Drag &amp; drop file upload example</h1>

<form>

  <fieldset class="upload_dropZone border border-4 text-center mb-3 p-4">

    <legend class="visually-hidden">Image uploader</legend>

    <svg class="upload_svg" width="60" height="60" aria-hidden="true">
      <use href="#icon-imageUpload"></use>
    </svg>

    <p class="small my-2">Drag &amp; Drop background image(s) inside dashed region<br><i>or</i></p>

    <input id="upload_image_background" data-post-name="image_background" data-post-url="https://someplace.com/image/uploads/backgrounds/" class="position-absolute invisible" type="file" multiple accept="image/jpeg, image/png, image/svg+xml" />

    <label class="btn btn-upload btn-primary mb-3" for="upload_image_background">Choose an image</label>

    <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>

  </fieldset>



  <fieldset class="upload_dropZone text-center border border-4  mb-3 p-4">

    <legend class="visually-hidden">Image uploader</legend>

    <svg class="upload_svg" width="60" height="60" aria-hidden="true">
      <use href="#icon-imageUpload"></use>
    </svg>

    <p class="small my-2">Drag &amp; Drop logo image(s) inside dashed region<br><i>or</i></p>

    <input id="upload_image_logo" class = "form-control form-control-lg "data-post-name="image_logo" data-post-url="{% url 'images' %}" class="position-absolute invisible" type="file" multiple accept="image/jpeg, image/png, image/svg+xml" />

    {% comment %} <label class="btn btn-upload btn-primary mb-3" for="upload_image_logo">Choose an image</label> {% endcomment %}

    <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>

  </fieldset>
<!-- Button trigger modal -->
<div class = "text-center">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</form>


<svg style="display:none">
  <defs>
    <symbol id="icon-imageUpload" clip-rule="evenodd" viewBox="0 0 96 96">
      <path d="M47 6a21 21 0 0 0-12.3 3.8c-2.7 2.1-4.4 5-4.7 7.1-5.8 1.2-10.3 5.6-10.3 10.6 0 6 5.8 11 13 11h12.6V22.7l-7.1 6.8c-.4.3-.9.5-1.4.5-1 0-2-.8-2-1.7 0-.4.3-.9.6-1.2l10.3-8.8c.3-.4.8-.6 1.3-.6.6 0 1 .2 1.4.6l10.2 8.8c.4.3.6.8.6 1.2 0 1-.9 1.7-2 1.7-.5 0-1-.2-1.3-.5l-7.2-6.8v15.6h14.4c6.1 0 11.2-4.1 11.2-9.4 0-5-4-8.8-9.5-9.4C63.8 11.8 56 5.8 47 6Zm-1.7 42.7V38.4h3.4v10.3c0 .8-.7 1.5-1.7 1.5s-1.7-.7-1.7-1.5Z M27 49c-4 0-7 2-7 6v29c0 3 3 6 6 6h42c3 0 6-3 6-6V55c0-4-3-6-7-6H28Zm41 3c1 0 3 1 3 3v19l-13-6a2 2 0 0 0-2 0L44 79l-10-5a2 2 0 0 0-2 0l-9 7V55c0-2 2-3 4-3h41Z M40 62c0 2-2 4-5 4s-5-2-5-4 2-4 5-4 5 2 5 4Z"/>
    </symbol>
  </defs>
</svg>

<link rel="stylesheet" href="static/css/image.css">
{% endblock content %}
