{% extends 'base.html' %}
{% block content %}
    
<div class ="col-md-6 offset-md-3">
    <h1> Register </h1>
    <br>
    <form method="POST" action="">
        <form>
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" >
            Error Register
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors}}
                {% endif %}
            {% endfor %}
            <button type = "button" class="btn-close" data-bs-dismiss="alert" aria-label="close">&times;</button>
        </div>
        {% endif %}
        {{ form.as_p }}
    
            <br>
            <button type="submit" class="btn btn-secondary">Register</button>
        </form>
</div>

{% endblock content %}
